h1 {
    color: #000;
    text-align: center;
}
h2 {
    text-align: center;
    color: goldenrod
}
h3 {
    text-align: center;
    color: brown;
}
li {
    text-align: center;
    color: green;
}